/*  Base styles */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #767676;
  line-height: 22px;
  position: relative;
}
.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}
* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 1000px;
  padding: 10px;
  height: 100%
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Header */
.header {
  background-color: #dcdcdc;
  height: 230px;
  position: relative;
}
.header__logo {
  float: left;
  height: 100%;
  vertical-align: middle;
}
.logo {
  width: 273px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__contacts {
  float: right;
  text-align: right;
}
.header__phones {
  font-family: "Open Sans Condensed Light", sans-serif;
  font-size: 40px;
  line-height: 46px;
  margin: 32px 0 7px 0;
}
.header__phone {
  display: block;
  text-decoration: none;
  color: #767676;
}
.header__feedback-link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #767676;
  border-bottom: 2px dashed #767676;
}


/* Menu */
.menu {
  height: 80px;
  background-color: #777;
  position: relative;
}
.menu__inner {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}
.menu__item {
  display: inline-block;
  vertical-align: top;
}
.menu__link {
  position: relative;
  color: #fff;
  line-height: 60px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 18px;
  letter-spacing: 1px;
}
.menu__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu__link::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 2px;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  background-color: #fff;
}
.menu__link_last::after {
  display: none;
}


/* Slider */
.slider {
  height: 400px;
  background-color: #999;
}

/* Content */
.content__catalog {
  float: left;
  width: 200px;
}
.content__nav {
  height: 40px;
}
.content__nav-inner {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.content__nav-item {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}
.content__nav-item::after {
  position: absolute;
  content: "/";
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}
.content__nav-item_current::after {
  display: none;
}
.content__nav-link {
  color: #767676;
}
.content__nav-link_current {
  text-decoration: none;
  cursor: default;
}

.content__nav-aside {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 355px;
}
.content__nav-aside-link,
.content__nav-aside-inner-link {
  color: #767676;
  text-decoration: none;
}
.content__nav-aside-item {
  padding-bottom: 6px;
}
.content__nav-aside-link {
  font-size: 18px;
}
.content__nav-aside-link_current,
.content__nav-aside-inner-link_current {
  text-decoration: underline;
}
.content__nav-aside-inner-link_current {
  font-weight: bold;
}

.content__nav-aside-inner {
  padding-left: 9px;
  list-style-type: disc;
  list-style-position: inside;
}
.content__nav-aside-inner-link {
  font-size: 14px;
  margin-left: -18px;
}
.content__nav-aside-link:hover,
.content__nav-aside-inner-link:hover {
  text-decoration: underline;
}

.price-list {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  margin: 0;
}
.price-list-download {
  width: 97px;
  height: 111px;
  display: block;
  margin: auto;
  background-image: url("../img/excel.png");
}

.content__items {
  float: right;
  width: 780px;
}
.content__item {
  display: inline-block;
  width: 250px;
  height: 380px;
  background-color: #dcdcdc;
  padding: 20px;
  margin-right: 11px;
  margin-bottom: 15px;
}
.content__item:nth-child(3n+3) {
  margin-right: 0;
}
.content__item-figure {
  height: 310px;
  margin: 0;
}
.content__item-caption {
  font-size: 18px;
  line-height: 18px;
  margin-top: 15px;
}
.content__item-price {
  height: 30px;
  line-height: 30px;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
  position: relative;
}
.content__add-to-cart {
  width: 28px;
  height: 100%;
  display: inline-block;
  float: right;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}
.content__pages {
  text-align: center;
  height: 25px;
  margin-top: 10px;
}
.content__page-number {
  display: inline-block;
  width: 25px;
  heigth: 25px;
  line-height: 25px;
  text-decoration: none;
}
.content__page-number_current {
  font-size: 18px;
}
.content__about-company {
  border-top: 1px solid #000;
  margin-top: 60px;
}
.content__about-company-column {
  width: 368px;
  height: 430px;
  display: inline-block;
  margin: 0;
  padding: 30px 0;
}
.content__about-company-column_left {
  float: left;
}
.content__about-company-column_right {
  float: right;
}

/* Footer */
.footer {
  position: relative;
  height: 220px;
  background-color: #777;
  color: #fff;
}
.footer__column {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  height: 100%;
  padding-top: 40px;
}
.footer__additional {
  text-align: right;
}
.footer__nav-inner {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__copyright {
  margin: 0;
}
.footer__email {
  color: #fff;
}
.footer__nav-link {
  color: #fff;
  line-height: 26px;
}
.pixel-plus-logo {
  margin: 0;
  position: relative;
  width: 220px;
  text-align: left;
  float: right;
  padding-left: 56px;
}
.pixel-plus-logo::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 5px;
  width: 36px;
  height: 38px;
  background-image: url("../img/pixel-plus-logo.png");
}
.pixel-plus-link {
  color: #fff;
}

/* Feedback form */
.feedback_hidden {
  display: none;
}
.feedback_popup {
  position: absolute;
  top: 283px;
  left: 50%;
  transform: translateX(-50%);
}
.feedback {
  width: 465px;
  height: 578px;
  margin: auto;
  padding: 25px 64px;
  text-align: center;
  background-color: #fff;
  z-index: 20;
}
.feedback__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 30px 0;
  color: #535353;
}
.feedback__input {
  display: block;
  width: 100%;
  height: 41px;
  border: 1px solid #c3c3c3;
  margin-bottom: 15px;
}
.feedback__input_message {
  height: 141px;
  margin-bottom: 22px;
}
.feedback__submit {
  width: 128px;
  height: 42px;
  padding: 0;
  line-height: 42px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #777;
  border: 1px solid #868686;
}
.feedback__close-btn {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #777;
  top: -26px;
  right: -26px;
}
.feedback__close-btn::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  top: 3px;
  left: 12px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.feedback__close-btn::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  top: 3px;
  left: 12px;
  background-color: #fff;
  transform: rotate(45deg);
}


/* Fonts */
@font-face {
  font-family: "Open Sans Condensed Light";
  src: url("../fonts/open-sans/OpenSans-CondLight.eot?") format("eot"),
       url("../fonts/open-sans/OpenSans-CondLight.woff") format("woff"),
       url("../fonts/open-sans/OpenSans-CondLight.ttf") format("truetype"),
       url("../fonts/open-sans/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
