/*  Base styles */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #767676;
  line-height: 22px;
}
* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 1000px;
  padding: 10px;
  height: 100%
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Header */
.header {
  background-color: #dcdcdc;
  height: 230px;
  position: relative;
}
.header__logo {
  float: left;
  height: 100%;
  vertical-align: middle;
}
.logo {
  width: 273px;
  height: 100px;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__contacts {
  float: right;
  text-align: right;
}
.header__phones {
  font-family: "Open Sans Condensed Light", sans-serif;
  font-size: 40px;
  line-height: 46px;
  margin: 32px 0 7px 0;
}
.header__phone {
  display: block;
  text-decoration: none;
}
.header__feedback-link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px dashed #767676;
}


/* Menu */
.menu {
  height: 80px;
  background-color: #777;
  position: relative;
}
.menu__inner {
  text-align: center;
  list-style: none;
  margin: 0;
  height: 60px;
  padding-left: 50px;
}
.menu__item {
  display: inline-block;
  vertical-align: top;
}
.menu__link {
  position: relative;
  color: #fff;
  line-height: 60px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 16px;
}
.menu__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu__link::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 2px;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  background-color: #fff;
}
.menu__link_last::after {
  display: none;
}


/* Footer */
.footer {
  position: relative;
  height: 220px;
  background-color: #777;
  color: #fff;
}
.footer__column {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  height: 100%;
  padding-top: 40px;
}
.footer__additional {
  text-align: right;
}
.footer__nav-inner {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__copyright {
  margin: 0;
}
.footer__email {
  color: #fff;
}
.footer__nav-link {
  color: #fff;
  line-height: 26px;
}
.pixel-plus-logo {
  margin: 0;
  position: relative;
  width: 220px;
  text-align: left;
  float: right;
  padding-left: 56px;
}
.pixel-plus-logo::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 5px;
  width: 36px;
  height: 38px;
  background-image: url("../img/pixel-plus-logo.png");
}
.pixel-plus-link {
  color: #fff;
}

/* Feedback form */
.feedback_hidden {
  display: none;
}

/* Fonts */
@font-face {
  font-family: "Open Sans Condensed Light";
  src: url("../fonts/open-sans/OpenSans-CondLight.eot?") format("eot"),
       url("../fonts/open-sans/OpenSans-CondLight.woff") format("woff"),
       url("../fonts/open-sans/OpenSans-CondLight.ttf") format("truetype"),
       url("../fonts/open-sans/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
